.header {
    margin-left: 17.5%;
    margin-right: 17.5%;
    margin-bottom: 2em;
}

.content {
    margin-left: 17.5%;
    margin-right: 17.5%;
}

.product-header {
    font-weight: bold;
    font-size: 1.5em;
}

.product-amount {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.basket-amount {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
